# Local Development Backend
# NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Live Production Render Backend Server
NEXT_PUBLIC_API_URL=https://planora-server-vsyx.onrender.com/api/v1

# Application Client URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
